---
import Layout from "../layouts/Layout.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
import Footer from "../components/Footer.astro";

interface Props {
    tech: string;
}

const { tech } = Astro.props;
---

<Layout
    title="Frontend Quiz: Pon a prueba tus conocimientos de HTML, CSS, JavaScript y Accesibilidad"
>
    <main class="max-w-7xl m-auto" >
        <div class="top-2 w-full p-5">
            <div class="flex gap-5 flex-row justify-between items-center">
                <div class="flex items-center gap-10">
                    <img src="/assets/img/html5.svg" alt="html5" width="60px" />
                    <!-- <span class="text-stone-50 text-3xl font-semibold dark:text-stone-50 text-[#7e7e7e]">HTML5</span> -->
                </div>
                <div class="flex items-center">
                    <!-- Ensure ThemeIcon has content or proper settings -->
                    <ThemeIcon />
                </div>
            </div>
        </div>

        <div
            class="p-5 md:p-4 flex-col lg:flex-row lg:flex lg:gap-12 max-w-7xl flex lg:justify-center"
        >
            <div
                class="w-full flex lg:flex-row flex-col lg:justify-between gap-2"
                id="quiz-container"
            >
                <div class="lg:w-1/2 w-full">
                    <div
                        id="question-paragraph"
                        class="text-stone-300 italic font-thin block"
                    >
                        Question <span id="question-number">1</span> of 10
                    </div>
                    <h1
                        class="text-2xl text-semibold font-semibold text-[#7e7e7e] dark:text-stone-50 mb-10"
                        id="question-text"
                    >
                    </h1>

                    <div id="meterContainer"></div>
                </div>
                <div id="options-container" class="lg:w-1/2 w-full"></div>
            </div>
        </div>

        <a href="/" class="top-6 mt-14 relative p-5">
            <button
                type="button"
                class="dark:text-gray-100 text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800"
                
                >Go Back 👈🏻</button
            ></a
        >

        <h2
            class="text-2xl font-semibold text-[#7e7e7e] dark:text-stone-50 text-center underline"
        >
            Content Creators
        </h2>

        <!--Grid gallery creators -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
            <!-- Creator 1 -->
            <div
                class="p-4 group grid grid-rows-[1fr] grid-cols-[1fr] relative"
            >
                <a
                    href="https://portfolio-sara.vercel.app/"
                    target="_blank"
                    class="col-start-1 col-end-2 row-start-1 row-end-2"
                >
                    <img
                        src="/assets/img/saramontagud.png"
                        alt="afor digital, full stack developer"
                        class="rounded-xl"
                    />
                </a>
                <div
                    class="col-start-1 col-end-2 row-start-1 row-end-2 absolute right-0 top-[-60px]"
                >
                    <img
                        src="/assets/img/this-is-fine.webp"
                        alt="this is fine"
                        class="hidden group-hover:block rounded-xl w-20 transition-transform duration-300 transform translate-y-full group-hover:translate-y-0"
                    />
                </div>
            </div>

            <!-- Creator 2 -->
            <div
                class="p-4 group grid grid-rows-[1fr] grid-cols-[1fr] relative"
            >
                <a
                    href="https://www.kevinpowell.co/"
                    target="_blank"
                    class="col-start-1 col-end-2 row-start-1 row-end-2"
                >
                    <img
                        src="/assets/img/kevinpowell.png"
                        alt="kevin powell, css evangelist"
                        class="rounded-xl"
                    />
                </a>
                <div
                    class="col-start-1 col-end-2 row-start-1 row-end-2 absolute right-0 top-[-60px]"
                >
                    <img
                        src="/assets/img/this-is-fine.webp"
                        alt="this is fine"
                        class="hidden group-hover:block rounded-xl w-20 transition-transform duration-300 transform translate-y-full group-hover:translate-y-0"
                    />
                </div>
            </div>

            <!-- Creator 3 -->
            <div
                class="p-4 group grid grid-rows-[1fr] grid-cols-[1fr] relative"
            >
                <a
                    href="https://guillermorodas.com/"
                    target="_blank"
                    class="col-start-1 col-end-2 row-start-1 row-end-2"
                >
                    <img
                        src="/assets/img/guillermorodas.png"
                        alt="guillermorodas, full stack developer"
                        class="rounded-xl"
                    />
                </a>
                <div
                    class="col-start-1 col-end-2 row-start-1 row-end-2 absolute right-0 top-[-60px]"
                >
                    <img
                        src="/assets/img/this-is-fine.webp"
                        alt="this is fine"
                        class="hidden group-hover:block rounded-xl w-20 transition-transform duration-300 transform translate-y-full group-hover:translate-y-0"
                    />
                </div>
            </div>

            <!-- Creator 4 -->
            <div
                class="p-4 group grid grid-rows-[1fr] grid-cols-[1fr] relative"
            >
                <a
                    href="https://recursoscosmicos.com/"
                    target="_blank"
                    class="col-start-1 col-end-2 row-start-1 row-end-2"
                >
                    <img
                        src="/assets/img/carmenansio.png"
                        alt="carmen ansio, ux ui designer"
                        class="rounded-xl"
                    />
                </a>
                <div
                    class="col-start-1 col-end-2 row-start-1 row-end-2 absolute right-0 top-[-60px]"
                >
                    <img
                        src="/assets/img/this-is-fine.webp"
                        alt="this is fine"
                        class="hidden group-hover:block rounded-xl w-20 transition-transform duration-300 transform translate-y-full group-hover:translate-y-0"
                    />
                </div>
            </div>

            <!-- Creator 5 -->
            <div
                class="p-4 group grid grid-rows-[1fr] grid-cols-[1fr] relative"
            >
                <a
                    href="https://blog.gonzalopozzo.com/"
                    target="_blank"
                    class="col-start-1 col-end-2 row-start-1 row-end-2"
                >
                    <img
                        src="/assets/img/goncy.png"
                        alt="goncy, full stack developer"
                        class="rounded-xl"
                    />
                </a>
                <div
                    class="col-start-1 col-end-2 row-start-1 row-end-2 absolute right-0 top-[-60px]"
                >
                    <img
                        src="/assets/img/this-is-fine.webp"
                        alt="this is fine"
                        class="hidden group-hover:block rounded-xl w-20 transition-transform duration-300 transform translate-y-full group-hover:translate-y-0"
                    />
                </div>
            </div>

            <!-- Creator 6 -->
            <div class="p-4">
                <!-- Creator content -->
            </div>
        </div>
    </main>
</Layout>
<Footer />

<script src="/src/scripts/html.js"></script>

<style></style>
