---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
import Footer from "../components/Footer.astro";


---

<Layout
	title="Frontend Quiz: Pon a prueba tus conocimientos de HTML, CSS, JavaScript y Accesibilidad"
	
>
	<div class="max-w-7xl m-auto">
		<Header />
	</div>

	<main
		class="flex-col lg:flex-row lg:flex lg:gap-12 max-w-7xl m-auto p-5 flex  lg:mt-28 "
		transition:name="hero"
	>
		<div class="mt-5" >
			<h1
				class="text-6xl lg:text-6xl  dark:text-stone-50 text-[#7e7e7e]"
			>
				Welcome to the <span class="font-semibold pb-4"
					>Frontend Quiz!</span
				>
			</h1>
			<span
				class="dark:text-stone-300 italic font-thin pb-6 mt-6 block lg:mt-10"
				>Pick a subject to get started. Last Updated: November 2023</span
			>
		</div>
		<div class="row mt-10 w-full lg:w-4/5" id="technologies-container">
		</div>
	</main>
	<Footer />
</Layout>

<script src="/src/scripts/index.js"></script>



<style></style>

