---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import ThemeIcon from '../components/ThemeIcon.astro';
---

<Layout title="Welcome to Astro.">
	
	<div class="fixed top-5 right-10">
		<ThemeIcon  />
	</div>
	<main class="p-5 md:p-10 flex-col lg:flex-row lg:flex lg:gap-12 max-w-7xl m-auto h-screen flex  items-center ">
		
		<div class="lg:mt-[-300px]">
			<h1 class="text-stone-50 text-6xl lg:text-6xl mt-10 ">
				Welcome to the <span class="font-semibold pb-4">
					Frontend Quiz!</span
				>
			</h1>
			<span class="text-stone-300 italic font-thin pb-6 mt-6 block lg:mt-10"
				>Pick a subject to get started.</span
			>
		</div>
		<div class="row mt-10 w-full lg:w-4/5" id="technologies-container">

		</div>
	</main>
</Layout>

<script>
	const container = document.getElementById("technologies-container");

	const topicsJSON = {
		webTechnologies: [
			{
				tech: "HTML",
				description:
					"HTML (HyperText Markup Language) is the standard markup language for creating web pages.",
				usage: "Defines the structure and content of web pages.",
				href: "/html/",
				thumbnail: "/assets/img/html5.svg",
			},
			{
				tech: "CSS",
				description:
					"CSS (Cascading Style Sheets) is used for styling HTML elements on web pages.",
				usage: "Controls the presentation, layout, and design of web pages.",
				href: "/css/",
				thumbnail: "/assets/img/css3.svg",
			},
			{
				tech: "JavaScript",
				description:
					"JavaScript is a scripting language used to create dynamic and interactive web content.",
				usage: "Adds interactivity, manipulates content, and enhances user experience.",
				href: "/js/",
				thumbnail: "/assets/img/javascript.svg",
			},
			{
				tech: "Accesibility",
				description:
					"Accesibility is important in web development. It refers to creating websites and applications that can be used by everyone, including people with disabilities.",
				usage: "Ensures equal access and usability for all users.",
				href: "/accesibility/",
				thumbnail: "/assets/img/accesibility.svg",
			},
		],
	};

	topicsJSON.webTechnologies.forEach(
		({ tech, description, usage, href, thumbnail }) => {
			const cardDiv = document.createElement("div");
			cardDiv.innerHTML = `
        
			<a class="hover:bg-[#199AFC] transition duration-300 flex gap-10 items-center rounded-3xl text-stone-50 font-semibold card shadow rounded-lg p-5 bg-[#3C4D67] mb-5" href="${href}">
				<img src="${thumbnail}" class="card-img-top" alt="${tech}" width="50"> 
				<h5 class="card-title text-xl text-stone-200">${tech}</h5>
			</a>
       

		

    `;

			container.appendChild(cardDiv);
		},
	);
</script>

<style></style>
