<footer>
    <div
        class="bg-primary-dark-color fixed bottom-0 right-0 clip footer-img w-[64px] h-[64px] tb:w-[96px] tb:h-[96px]"
    >
        <a href="">
            <img
                src="/assets/img/github.svg"
                alt="GitHub"
                class="absolute right-2 bottom-2 w-6 h-6 tb:w-9 tb:h-9"
            />
        </a>
    </div>
</footer>
