---
import ThemeIcon from "./ThemeIcon.astro";

---


<div class="top-2 w-full p-5">
    <div class="flex gap-5 flex-row justify-between items-center">
        <div class="flex items-center gap-10">
            
        </div>
        <div class="flex items-center">
            <!-- Ensure ThemeIcon has content or proper settings -->
            <ThemeIcon />
        </div>
    </div>
</div>