---
interface Props {
	title: string;
}

const { title } = Astro.props;

import { ViewTransitions, slide } from 'astro:transitions';

import { fade } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
		name="description"
		content="¿Quieres poner a prueba tus conocimientos de frontend? En nuestro quiz encontrarás preguntas de HTML, CSS, JavaScript y Accesibilidad, con diferentes niveles de dificultad. ¡Prueba tus habilidades y mejora tu carrera profesional!"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		
		<link rel="stylesheet" href="../styles/styles.css" />
		
		<script type="defer" src="../main.js"></script>
		<!-- <ViewTransitions /> -->
	</head>
	
	<body
		class="bg-cover bg-[url('/assets/img/light-pattern.svg')] dark:bg-cover dark:bg-[url('/assets/img/dark-pattern.svg')] bg-opacity-90 dark:bg-opacity-90"
		transition:name="caca"
		transition:animate=fade
	>
		<slot />
	</body>
</html>
